In [1]:
import pandas as pd
import numpy as np

# ignores warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# reads in csv file
df = pd.read_csv("aggregate_hdi_indicators_with_population.csv")

In [3]:
# display dataframe created from csv file
df

,Entity,Code,Year,Population (historical estimates),"Fertility rate (Complete Gapminder, v12) (2017)","Mortality rate, infant (per 1,000 live births)",Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
0,Afghanistan,AFG,1800,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1801,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1802,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1803,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1804,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49729,Zimbabwe,ZWE,2017,14236599.0,3.68,4.05,60.812,8.2,10.3,3207.887558,0.535
49730,Zimbabwe,ZWE,2018,14438812.0,NaN,3.93,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,ZWE,2019,14645473.0,NaN,3.84,61.490,NaN,NaN,NaN,NaN
49732,Zimbabwe,ZWE,2020,14862927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,ZWE,2021,15092171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# calculate HDI rate per year 

#life expectancy index
#<-- ([Life expectancy] - [Life Expectancy Minimum]) / ([Life Expectancy Goalpost] - [Life Expectancy Minimum])
# ([life expentance of country] - 20) / (85 - 20))

#education expectancy index
#((([Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))] 
# - [Mean Years of Schooling Minimum]) / ([Mean Years of Schooling Goalpost] - [Mean Years of Schooling Minimum])) + (([Expected Years of Schooling (years)] - [Expected Years of Schooling Minimum]) 
# / ([Expected Years of Schooling Goalpost] - [Expected Years of Schooling Minimum]))) / 2

#income expectancy index
# (LN([GNI per capita, PPP (constant 2017 international $)]) - LN([GNI per Capita Minimum])) 
# / (LN([GNI per Capita Goalpost]) - LN([GNI per Capita Minimum]))

#HDI
# ([Calculated Life Expectancy Index] * [Calculated Education Index] * [Calculated GNI per Capita Index]) ^ (1/3)


# find life expectancy weight for each country (life expectancy/global life expetancy)
# apply weight to life expectany (weight (^) * life expectancy)
# create new column to store
# use all countries weighted life expectancies to get global life expectancy
# do with other factors
# find gobal HDI

In [5]:
# drop unnecessary columns & rename dataframe
factors = df.drop(columns = ['Fertility rate (Complete Gapminder, v12) (2017)', 'Mortality rate, infant (per 1,000 live births)', 'Code'])

In [6]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
0,Afghanistan,1800,3280000.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1801,3280000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1802,3280000.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1803,3280000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1804,3280000.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
49729,Zimbabwe,2017,14236599.0,60.812,8.2,10.3,3207.887558,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN
49732,Zimbabwe,2020,14862927.0,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,2021,15092171.0,NaN,NaN,NaN,NaN,NaN

In [8]:
# drop all rows that have less than 4 non-na values
factors = factors.dropna(thresh=4)

In [9]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
70,Afghanistan,1870,4142928.0,NaN,0.01,NaN,NaN,NaN
75,Afghanistan,1875,4247357.0,NaN,0.01,NaN,NaN,NaN
80,Afghanistan,1880,4354370.0,NaN,0.01,NaN,NaN,NaN
85,Afghanistan,1885,4464010.0,NaN,0.01,NaN,NaN,NaN
90,Afghanistan,1890,4576341.0,NaN,0.01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
49727,Zimbabwe,2015,13814642.0,59.534,8.20,10.3,2858.616749,0.529
49728,Zimbabwe,2016,14030338.0,60.294,8.20,10.3,2884.156050,0.532
49729,Zimbabwe,2017,14236599.0,60.812,8.20,10.3,3207.887558,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN

In [10]:
# create new rows to hold weights
factors["Weighted Life Expectancy"] = np.nan
factors["Weighted YOS"] = np.nan
factors["Weighted Expected YOS"] = np.nan
factors["Weighted GNI"] = np.nan

In [11]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP),Weighted Life Expectancy,Weighted YOS,Weighted Expected YOS,Weighted GNI
70,Afghanistan,1870,4142928.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Afghanistan,1875,4247357.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Afghanistan,1880,4354370.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Afghanistan,1885,4464010.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Afghanistan,1890,4576341.0,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
49727,Zimbabwe,2015,13814642.0,59.534,8.20,10.3,2858.616749,0.529,NaN,NaN,NaN,NaN
49728,Zimbabwe,2016,14030338.0,60.294,8.20,10.3,2884.156050,0.532,NaN,NaN,NaN,NaN
49729,Zimbabwe,2017,14236599.0,60.812,8.20,10.3,3207.887558,0.535,NaN,NaN,NaN,NaN
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN,NaN,NaN,NaN,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# reorder rows
factors = factors[["Entity",
                   "Year", 
                   "Population (historical estimates)", 
                   "Life expectancy", "Weighted Life Expectancy", 
                   "Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))", "Weighted YOS",
                   "Expected Years of Schooling (years)", "Weighted Expected YOS",
                   "GNI per capita, PPP (constant 2017 international $)", "Weighted GNI",
                   "Actual Human Development Index (UNDP)"
                  ]]

In [13]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,Weighted Life Expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Weighted YOS,Expected Years of Schooling (years),Weighted Expected YOS,"GNI per capita, PPP (constant 2017 international $)",Weighted GNI,Actual Human Development Index (UNDP)
70,Afghanistan,1870,4142928.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
75,Afghanistan,1875,4247357.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
80,Afghanistan,1880,4354370.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
85,Afghanistan,1885,4464010.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
90,Afghanistan,1890,4576341.0,NaN,NaN,0.01,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
49727,Zimbabwe,2015,13814642.0,59.534,NaN,8.20,NaN,10.3,NaN,2858.616749,NaN,0.529
49728,Zimbabwe,2016,14030338.0,60.294,NaN,8.20,NaN,10.3,NaN,2884.156050,NaN,0.532
49729,Zimbabwe,2017,14236599.0,60.812,NaN,8.20,NaN,10.3,NaN,3207.887558,NaN,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,NaN,NaN,NaN,3262.224759,NaN,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# test out to find mean of population for only rows where year = 1870
print(factors['Population (historical estimates)'].loc[factors['Year'] == 1870].mean())

10992194.0990991

In [15]:
# test out to find mean of population for only rows where year = 1870 and the life expectancy column is not nan
print(factors['Population (historical estimates)'].loc[(factors['Year'] == 1870) 
                                                       & (pd.notna(factors['Life expectancy']))].mean())

12518941.8

In [18]:
# test out weight equation on the above requirements
factors['Weighted Life Expectancy'].loc[(factors['Year'] == 1870) & (pd.notna(factors['Life expectancy']))] = (
    factors['Population (historical estimates)'].loc[(factors['Year'] == 1870) & (pd.notna(factors['Life expectancy']))] 
    / factors['Population (historical estimates)'].loc[(factors['Year'] == 1870) 
                                                       & (pd.notna(factors['Life expectancy']))].mean())

In [19]:
# take a look at dataframe to see how its been p
factors.loc[(factors['Year'] == 1870) & (pd.notna(factors['Life expectancy']))]

,Entity,Year,Population (historical estimates),Life expectancy,Weighted Life Expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Weighted YOS,Expected Years of Schooling (years),Weighted Expected YOS,"GNI per capita, PPP (constant 2017 international $)",Weighted GNI,Actual Human Development Index (UNDP)
2464,Austria,1870,4528451.0,34.400002,0.361728,2.13,NaN,NaN,NaN,NaN,NaN,NaN
4018,Belgium,1870,5097637.0,40.900002,0.407194,2.27,NaN,NaN,NaN,NaN,NaN,NaN
11333,Denmark,1870,1887969.0,45.970001,0.150809,2.39,NaN,NaN,NaN,NaN,NaN,NaN
14644,France,1870,38184704.0,36.389999,3.050154,0.66,NaN,NaN,NaN,NaN,NaN,NaN
19378,Iceland,1870,69836.0,38.340000,0.005578,0.74,NaN,NaN,NaN,NaN,NaN,NaN
21448,Japan,1870,34388672.0,36.592640,2.746931,0.42,NaN,NaN,NaN,NaN,NaN,NaN
30430,Netherlands,1870,3609009.0,37.320000,0.288284,2.89,NaN,NaN,NaN,NaN,NaN,NaN
32568,Norway,1870,1736968.0,50.849998,0.138747,3.82,NaN,NaN,NaN,NaN,NaN,NaN
42380,Sweden,1870,4168145.0,44.970001,0.332947,3.51,NaN,NaN,NaN,NaN,NaN,NaN
46846,United Kingdom,1870,31518027.0,40.605000,2.517627,0.80,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
for year in range(1800, 2022):
    factors['Weighted Life Expectancy'].loc[(factors['Year'] == year) & (pd.notna(factors['Life expectancy']))] = (
        factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                         & (pd.notna(factors['Life expectancy']))] 
        / factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                           & (pd.notna(factors['Life expectancy']))].mean())
    
    
    factors['Weighted YOS'].loc[(factors['Year'] == year) & (pd.notna(factors['Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))']))] = (
        factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                         & (pd.notna(factors['Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))']))] 
        / factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                           & (pd.notna(factors['Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))']))].mean())
    
    factors['Weighted Expected YOS'].loc[(factors['Year'] == year) & (pd.notna(factors['Expected Years of Schooling (years)']))] = (
        factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                         & (pd.notna(factors['Expected Years of Schooling (years)']))] 
        / factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                           & (pd.notna(factors['Expected Years of Schooling (years)']))].mean())
    
    factors['Weighted GNI'].loc[(factors['Year'] == year) & (pd.notna(factors['GNI per capita, PPP (constant 2017 international $)']))] = (
        factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                         & (pd.notna(factors['GNI per capita, PPP (constant 2017 international $)']))] 
        / factors['Population (historical estimates)'].loc[(factors['Year'] == year) 
                                                           & (pd.notna(factors['GNI per capita, PPP (constant 2017 international $)']))].mean())

In [22]:
factors.loc[(factors['Year'] == 1900) & (pd.notna(factors['Life expectancy']))]

,Entity,Year,Population (historical estimates),Life expectancy,Weighted Life Expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Weighted YOS,Expected Years of Schooling (years),Weighted Expected YOS,"GNI per capita, PPP (constant 2017 international $)",Weighted GNI,Actual Human Development Index (UNDP)
1606,Argentina,1900,4689224.0,39.000000,0.432181,0.78,0.347993,NaN,NaN,NaN,NaN,NaN
3826,Belarus,1900,4909551.0,36.200001,0.452487,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4048,Belgium,1900,6717693.0,46.520000,0.619134,2.58,0.498528,NaN,NaN,NaN,NaN,NaN
5008,Bolivia,1900,1809836.0,26.000000,0.166803,0.17,0.134310,NaN,NaN,NaN,NaN,NaN
5746,Brazil,1900,18063384.0,29.000000,1.664807,0.47,1.340505,NaN,NaN,NaN,NaN,NaN
6262,Bulgaria,1900,3994654.0,40.200001,0.368166,1.33,0.296448,NaN,NaN,NaN,NaN,NaN
8554,Chile,1900,3135464.0,29.000000,0.288979,1.30,0.232686,NaN,NaN,NaN,NaN,NaN
8998,Colombia,1900,4089052.0,29.000000,0.376866,0.74,0.303453,NaN,NaN,NaN,NaN,NaN
9736,Costa Rica,1900,316531.0,32.000000,0.029173,1.21,0.023490,NaN,NaN,NaN,NaN,NaN
10402,Cuba,1900,1718198.0,32.000000,0.158357,0.38,0.127509,NaN,NaN,NaN,NaN,NaN
10918,Czechia,1900,9334000.0,40.266159,0.860266,3.65,0.692687,NaN,NaN,NaN,NaN,NaN
11363,Denmark,1900,2565597.0,51.869999,0.236458,2.76,0.190396,NaN,NaN,NaN,NaN,NaN
13361,Estonia,1900,872770.0,43.099998,0.080439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14452,Finland,1900,2641828.0,41.740002,0.243483,0.80,0.196053,NaN,NaN,NaN,NaN,NaN
14674,France,1900,40013112.0,45.009998,3.687798,1.97,2.969420,NaN,NaN,NaN,NaN,NaN
17632,Guatemala,1900,1357590.0,24.000000,0.125122,0.64,0.100748,NaN,NaN,NaN,NaN,NaN
19186,Hungary,1900,7106099.0,37.335918,0.654932,3.03,0.527352,NaN,NaN,NaN,NaN,NaN
19408,Iceland,1900,77857.0,46.650002,0.007176,1.29,0.005778,NaN,NaN,NaN,NaN,NaN
21034,Italy,1900,33442744.0,41.669998,3.082242,1.47,2.481825,NaN,NaN,NaN,NaN,NaN
21256,Jamaica,1900,725908.0,37.799999,0.066903,1.52,0.053870,NaN,NaN,NaN,NaN,NaN
21478,Japan,1900,43805856.0,38.599998,4.037355,1.29,3.250884,NaN,NaN,NaN,NaN,NaN
21922,Kazakhstan,1900,4183928.0,28.100000,0.385611,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24601,Lithuania,1900,2525068.0,41.700001,0.232722,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27709,Mexico,1900,13383654.0,25.000000,1.233501,0.76,0.993217,NaN,NaN,NaN,NaN,NaN
30460,Netherlands,1900,5120625.0,48.380001,0.471941,3.35,0.380008,NaN,NaN,NaN,NaN,NaN
32598,Norway,1900,2224417.0,53.470001,0.205013,5.31,0.165077,NaN,NaN,NaN,NaN,NaN
34152,Paraguay,1900,456307.0,25.000000,0.042055,0.55,0.033863,NaN,NaN,NaN,NaN,NaN
36158,Russia,1900,64946671.0,30.500000,5.985793,0.30,4.819768,NaN,NaN,NaN,NaN,NaN
41265,Spain,1900,18592431.0,34.799999,1.713566,3.07,1.379766,NaN,NaN,NaN,NaN,NaN
42410,Sweden,1900,5120942.0,52.209999,0.471970,4.21,0.380031,NaN,NaN,NaN,NaN,NaN
42632,Switzerland,1900,3284773.0,47.480000,0.302740,5.10,0.243767,NaN,NaN,NaN,NaN,NaN
46121,Ukraine,1900,23477813.0,36.599998,2.163826,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46876,United Kingdom,1900,41433090.0,45.619999,3.818670,1.96,3.074798,NaN,NaN,NaN,NaN,NaN
47542,Uruguay,1900,921056.0,49.000000,0.084889,0.80,0.068353,NaN,NaN,NaN,NaN,NaN
48430,Venezuela,1900,2697074.0,28.000000,0.248575,0.32,0.200153,NaN,NaN,NaN,NaN,NaN