# Data Preparation

## Population Change by Year

In [4]:
import pandas as pd

In [5]:
#make path relative
df = pd.read_csv('population-growth-the-annual-change-of-the-population.csv')

In [6]:
df

,Entity,Code,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Population change (thousands)","Medium fertility variant, 2020 - 2099: Annually interpolated demographic indicators - Population change (thousands)"
0,Afghanistan,AFG,1950,87538.0,NaN
1,Afghanistan,AFG,1951,91918.0,NaN
2,Afghanistan,AFG,1952,99744.0,NaN
3,Afghanistan,AFG,1953,107636.0,NaN
4,Afghanistan,AFG,1954,115628.0,NaN
...,...,...,...,...,...
36895,Zimbabwe,ZWE,2095,NaN,17903.0
36896,Zimbabwe,ZWE,2096,NaN,13532.0
36897,Zimbabwe,ZWE,2097,NaN,9516.0
36898,Zimbabwe,ZWE,2098,NaN,5922.0
36899,Zimbabwe,ZWE,2099,NaN,2805.0

In [7]:
df = df.drop(['Code'], axis = 1)

In [8]:
df2 = df[df['Entity'] == "World"]

In [9]:
df2

,Entity,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Population change (thousands)","Medium fertility variant, 2020 - 2099: Annually interpolated demographic indicators - Population change (thousands)"
36300,World,1950,47162696.0,NaN
36301,World,1951,47220851.0,NaN
36302,World,1952,46789623.0,NaN
36303,World,1953,46992190.0,NaN
36304,World,1954,47703160.0,NaN
...,...,...,...,...
36445,World,2095,NaN,6616506.0
36446,World,2096,NaN,5877417.0
36447,World,2097,NaN,5118115.0
36448,World,2098,NaN,4334758.0
36449,World,2099,NaN,3523109.0

In [10]:
df2 = df2.drop(['Entity'], axis = 1)

In [11]:
df2

,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Population change (thousands)","Medium fertility variant, 2020 - 2099: Annually interpolated demographic indicators - Population change (thousands)"
36300,1950,47162696.0,NaN
36301,1951,47220851.0,NaN
36302,1952,46789623.0,NaN
36303,1953,46992190.0,NaN
36304,1954,47703160.0,NaN
...,...,...,...
36445,2095,NaN,6616506.0
36446,2096,NaN,5877417.0
36447,2097,NaN,5118115.0
36448,2098,NaN,4334758.0
36449,2099,NaN,3523109.0

In [12]:
df2 = df2.drop(['Medium fertility variant, 2020 - 2099: Annually interpolated demographic indicators - Population change (thousands)'], axis = 1)

In [13]:
df2

,Year,"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Population change (thousands)"
36300,1950,47162696.0
36301,1951,47220851.0
36302,1952,46789623.0
36303,1953,46992190.0
36304,1954,47703160.0
...,...,...
36445,2095,NaN
36446,2096,NaN
36447,2097,NaN
36448,2098,NaN
36449,2099,NaN

In [14]:
df2 = df2.set_index("Year")

In [15]:
df2

      Estimates, 1950 - 2020: Annually interpolated demographic indicators - Population change (thousands)
Year
1950                                         47162696.0
1951                                         47220851.0
1952                                         46789623.0
1953                                         46992190.0
1954                                         47703160.0
...                                                 ...
2095                                                NaN
2096                                                NaN
2097                                                NaN
2098                                                NaN
2099                                                NaN

[150 rows x 1 columns]

In [16]:
df2 = df2.rename(columns = {"Estimates, 1950 - 2020: Annually interpolated demographic indicators - Population change (thousands)" : "Population Change"})

In [17]:
df2

      Population Change
Year
1950         47162696.0
1951         47220851.0
1952         46789623.0
1953         46992190.0
1954         47703160.0
...                 ...
2095                NaN
2096                NaN
2097                NaN
2098                NaN
2099                NaN

[150 rows x 1 columns]

In [18]:
df2 = df2.dropna()

In [19]:
df2

      Population Change
Year
1950         47162696.0
1951         47220851.0
1952         46789623.0
1953         46992190.0
1954         47703160.0
...                 ...
2015         84367770.0
2016         84033390.0
2017         83537542.0
2018         82808191.0
2019         81857737.0

[70 rows x 1 columns]

## Total Population of the World

In [20]:
#make path relative
df = pd.read_csv("world-population-by-world-regions-post-1820.csv")

In [21]:
df

            Entity Code   Year  Population (historical estimates)
0      Afghanistan  AFG -10000                              14737
1      Afghanistan  AFG  -9000                              20405
2      Afghanistan  AFG  -8000                              28253
3      Afghanistan  AFG  -7000                              39120
4      Afghanistan  AFG  -6000                              54166
...            ...  ...    ...                                ...
55651     Zimbabwe  ZWE   2017                           14236599
55652     Zimbabwe  ZWE   2018                           14438812
55653     Zimbabwe  ZWE   2019                           14645473
55654     Zimbabwe  ZWE   2020                           14862927
55655     Zimbabwe  ZWE   2021                           15092171

[55656 rows x 4 columns]

In [22]:
df = df.set_index("Year")

In [23]:
df

             Entity Code  Population (historical estimates)
Year
-10000  Afghanistan  AFG                              14737
-9000   Afghanistan  AFG                              20405
-8000   Afghanistan  AFG                              28253
-7000   Afghanistan  AFG                              39120
-6000   Afghanistan  AFG                              54166
...             ...  ...                                ...
 2017      Zimbabwe  ZWE                           14236599
 2018      Zimbabwe  ZWE                           14438812
 2019      Zimbabwe  ZWE                           14645473
 2020      Zimbabwe  ZWE                           14862927
 2021      Zimbabwe  ZWE                           15092171

[55656 rows x 3 columns]

In [24]:
df = df.drop(['Code'], axis = 1)

In [25]:
df

             Entity  Population (historical estimates)
Year
-10000  Afghanistan                              14737
-9000   Afghanistan                              20405
-8000   Afghanistan                              28253
-7000   Afghanistan                              39120
-6000   Afghanistan                              54166
...             ...                                ...
 2017      Zimbabwe                           14236599
 2018      Zimbabwe                           14438812
 2019      Zimbabwe                           14645473
 2020      Zimbabwe                           14862927
 2021      Zimbabwe                           15092171

[55656 rows x 2 columns]

In [26]:
df2 = df[df['Entity'] == "World"]

In [27]:
df2

       Entity  Population (historical estimates)
Year
-10000  World                            4432180
-9000   World                            5616908
-8000   World                            7242806
-7000   World                            9577828
-6000   World                           13201749
...       ...                                ...
 2017   World                         7548182589
 2018   World                         7631091110
 2019   World                         7713468203
 2020   World                         7794798725
 2021   World                         7874965730

[259 rows x 2 columns]

In [28]:
df2 = df2.drop(['Entity'], axis = 1)

In [29]:
df2

        Population (historical estimates)
Year
-10000                            4432180
-9000                             5616908
-8000                             7242806
-7000                             9577828
-6000                            13201749
...                                   ...
 2017                          7548182589
 2018                          7631091110
 2019                          7713468203
 2020                          7794798725
 2021                          7874965730

[259 rows x 1 columns]