In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("aggregate_hdi_indicators_with_population.csv")

In [3]:
df

,Entity,Code,Year,Population (historical estimates),"Fertility rate (Complete Gapminder, v12) (2017)","Mortality rate, infant (per 1,000 live births)",Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
0,Afghanistan,AFG,1800,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1801,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1802,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1803,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1804,3280000.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49729,Zimbabwe,ZWE,2017,14236599.0,3.68,4.05,60.812,8.2,10.3,3207.887558,0.535
49730,Zimbabwe,ZWE,2018,14438812.0,NaN,3.93,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,ZWE,2019,14645473.0,NaN,3.84,61.490,NaN,NaN,NaN,NaN
49732,Zimbabwe,ZWE,2020,14862927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,ZWE,2021,15092171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# calculate HDI rate per year 

#life expectancy index
#<-- ([Life expectancy] - [Life Expectancy Minimum]) / ([Life Expectancy Goalpost] - [Life Expectancy Minimum])
# ([life expentance of country] - 20) / (85 - 20))

#education expectancy index
#((([Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))] 
# - [Mean Years of Schooling Minimum]) / ([Mean Years of Schooling Goalpost] - [Mean Years of Schooling Minimum])) + (([Expected Years of Schooling (years)] - [Expected Years of Schooling Minimum]) 
# / ([Expected Years of Schooling Goalpost] - [Expected Years of Schooling Minimum]))) / 2

#income expectancy index
# (LN([GNI per capita, PPP (constant 2017 international $)]) - LN([GNI per Capita Minimum])) 
# / (LN([GNI per Capita Goalpost]) - LN([GNI per Capita Minimum]))

#HDI
# ([Calculated Life Expectancy Index] * [Calculated Education Index] * [Calculated GNI per Capita Index]) ^ (1/3)


# find life expectancy weight for each country (life expectancy/global life expetancy)
# apply weight to life expectany (weight (^) * life expectancy)
# create new column to store
# use all countries weighted life expectancies to get global life expectancy
# do with other factors
# find gobal HDI

In [5]:
factors = df.drop(columns = ['Fertility rate (Complete Gapminder, v12) (2017)', 'Mortality rate, infant (per 1,000 live births)', 'Code'])

In [6]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
0,Afghanistan,1800,3280000.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1801,3280000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1802,3280000.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1803,3280000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1804,3280000.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
49729,Zimbabwe,2017,14236599.0,60.812,8.2,10.3,3207.887558,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN
49732,Zimbabwe,2020,14862927.0,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,2021,15092171.0,NaN,NaN,NaN,NaN,NaN

In [7]:
#factors = factors.set_index('Entity')

In [8]:
factors = factors.dropna(thresh=3)

In [9]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP)
0,Afghanistan,1800,3280000.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1801,3280000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1802,3280000.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1803,3280000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1804,3280000.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
49729,Zimbabwe,2017,14236599.0,60.812,8.2,10.3,3207.887558,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN
49732,Zimbabwe,2020,14862927.0,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,2021,15092171.0,NaN,NaN,NaN,NaN,NaN

In [10]:
factors["Weighted Life Expectancy"] = np.nan
factors["Weighted YOS"] = np.nan
factors["Weighted Expected YOS"] = np.nan
factors["Weighted GNI"] = np.nan

In [11]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)",Actual Human Development Index (UNDP),Weighted Life Expectancy,Weighted YOS,Weighted Expected YOS,Weighted GNI
0,Afghanistan,1800,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1801,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1802,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1803,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1804,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
49729,Zimbabwe,2017,14236599.0,60.812,8.2,10.3,3207.887558,0.535,NaN,NaN,NaN,NaN
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,3262.224759,NaN,NaN,NaN,NaN,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49732,Zimbabwe,2020,14862927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,2021,15092171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
factors = factors[["Entity",
                   "Year", 
                   "Population (historical estimates)", 
                   "Life expectancy", "Weighted Life Expectancy", 
                   "Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))", "Weighted YOS",
                   "Expected Years of Schooling (years)", "Weighted Expected YOS",
                   "GNI per capita, PPP (constant 2017 international $)", "Weighted GNI",
                   "Actual Human Development Index (UNDP)"
                  ]]

In [13]:
factors

,Entity,Year,Population (historical estimates),Life expectancy,Weighted Life Expectancy,"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",Weighted YOS,Expected Years of Schooling (years),Weighted Expected YOS,"GNI per capita, PPP (constant 2017 international $)",Weighted GNI,Actual Human Development Index (UNDP)
0,Afghanistan,1800,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1801,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1802,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1803,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1804,3280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
49729,Zimbabwe,2017,14236599.0,60.812,NaN,8.2,NaN,10.3,NaN,3207.887558,NaN,0.535
49730,Zimbabwe,2018,14438812.0,61.195,NaN,NaN,NaN,NaN,NaN,3262.224759,NaN,NaN
49731,Zimbabwe,2019,14645473.0,61.490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49732,Zimbabwe,2020,14862927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49733,Zimbabwe,2021,15092171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
print(factors['Population (historical estimates)'].loc[factors['Year'] == 1870].mean())

6212692.497695852

In [15]:
print(factors[~factors['Life expectancy'].isna()])

            Entity  Year  Population (historical estimates)  Life expectancy  \
150    Afghanistan  1950                          7752117.0           27.638
151    Afghanistan  1951                          7840151.0           27.878
152    Afghanistan  1952                          7935996.0           28.361
153    Afghanistan  1953                          8039684.0           28.852
154    Afghanistan  1954                          8151316.0           29.350
...            ...   ...                                ...              ...
49727     Zimbabwe  2015                         13814642.0           59.534
49728     Zimbabwe  2016                         14030338.0           60.294
49729     Zimbabwe  2017                         14236599.0           60.812
49730     Zimbabwe  2018                         14438812.0           61.195
49731     Zimbabwe  2019                         14645473.0           61.490

       Weighted Life Expectancy  \
150                         NaN
151                         NaN
152                         NaN
153                         NaN
154                         NaN
...                         ...
49727                       NaN
49728                       NaN
49729                       NaN
49730                       NaN
49731                       NaN

       Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))  \
150                                                 0.13
151                                                  NaN
152                                                  NaN
153                                                  NaN
154                                                  NaN
...                                                  ...
49727                                               8.20
49728                                               8.20
49729                                               8.20
49730                                                NaN
49731                                                NaN

       Weighted YOS  Expected Years of Schooling (years)  \
150             NaN                                  NaN
151             NaN                                  NaN
152             NaN                                  NaN
153             NaN                                  NaN
154             NaN                                  NaN
...             ...                                  ...
49727           NaN                                 10.3
49728           NaN                                 10.3
49729           NaN                                 10.3
49730           NaN                                  NaN
49731           NaN                                  NaN

       Weighted Expected YOS  \
150                      NaN
151                      NaN
152                      NaN
153                      NaN
154                      NaN
...                      ...
49727                    NaN
49728                    NaN
49729                    NaN
49730                    NaN
49731                    NaN

       GNI per capita, PPP (constant 2017 international $)  Weighted GNI  \
150                                                  NaN             NaN
151                                                  NaN             NaN
152                                                  NaN             NaN
153                                                  NaN             NaN
154                                                  NaN             NaN
...                                                  ...             ...
49727                                        2858.616749             NaN
49728                                        2884.156050             NaN
49729                                        3207.887558             NaN
49730                                        3262.224759             NaN
49731                                                NaN             NaN

       Actual Human Development Index (UNDP)
150                                      NaN
151                                      NaN
152                                      NaN
153                                      NaN
154                                      NaN
...                                      ...
49727                                  0.529
49728                                  0.532
49729                                  0.535
49730                                    NaN
49731                                    NaN

[18438 rows x 12 columns]

In [ ]:
print(factors['Population (historical estimates)'].loc(factors[~factors['Life expectancy'].isna()]))

In [ ]:
print(factors['Population (historical estimates)'].loc[(factors['Year'] == 1870)  & (factors[~factors['Life expectancy'].isna()])])

In [ ]:
factors['Weighted Life Expectancy'].loc[factors['Year'] == 1870] = (factors['Population (historical estimates)'].loc[factors['Year'] == 1870] 
                                                                    / factors['Population (historical estimates)'].loc[(factors['Year'] == 1870)  & (factors['Life expectancy'] != np.nan)].mean())

In [ ]:
print(factors['Weighted Life Expectancy'].loc[factors['Year'] == 1870])

In [ ]:
for year in range(1800, 2022):
    factors['Weighted Life Expectancy'].loc[factors['Year'] == f"{year}"] = (factors['Population (historical estimates)'].loc[factors['Year'] == f"{year}"] 
                                                                    / factors['Population (historical estimates)'].loc[(factors['Year'] == f"{year}") & (factors['Life expectancy'] != np.nan)].mean())

In [ ]:
print(factors.loc[factors['Weighted Life Expectancy'] != np.nan])